@use 'sass:color';
@use 'src/styles/vars';
@use 'sass:math';

.menu {
  position: absolute;
  z-index: 100;
  background-color: #f17f42;
  box-shadow: inset -20px 0 20px -20px rgba(0,0,0,.75);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  
  @media (max-width: vars.$small) {
    width: vars.$smallMenuWidth;
    font-size: .85em;
  }

  &-link {
    display: block;
    padding: math.div(vars.$gutter, 2) vars.$gutter;
    transition: color .2s, box-shadow .4s;
    color: rgba(255, 255, 255, 0.75);

    &:hover:not(&--active) {
      color: white;
    }

    &--active {
      color: gray;
      box-shadow: inset -3px 0 0 vars.$color;
    }
  }
}
